/* --- tommyselect --- */

.tommyselect_new {
	display: inline-block;
	
}

.tommyselect_new * {
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
	line-height: 16px;
	font-size: 12px;
	display: inline-block;
}

.tommyselect_new a {
	color: white;
	background-color: #606161;
	padding: 0 4px !important;
	display: block;
}

.tommyselect_new a:hover { background-color: #9B9B9B; }

.tommyselect_new span {
	color: black;
	background-color: white;
	padding: 0 4px !important;
	text-align: center;
}